<!--Footer-->
<footer class="page-footer center-on-small-only">
    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">About material design</h5>
                <p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>
                <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
            </div>
            <!--/.First column-->
            <hr class="hidden-md-up">
            <!--Second column-->
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <h5 class="title">Cooking books</h5>
                <ul>
                    <li>
                        <a href="#!">"Cooking A-Z" by Mike Kalynsky</a>
                    </li>
                    <li>
                        <a href="#!">"No More Heat" by Joe Doe</a>
                    </li>
                    <li>
                        <a href="#!">"Sea Food for Starters" by Alex Well</a>
                    </li>
                    <li>
                        <a href="#!">"Easy Calories" by Samantha Bens</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="hidden-md-up">
            <!--Third column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Popular recipes</h5>
                <ul>
                    <li>
                        <a href="#!">Beff steak with almonds</a>
                    </li>
                    <li>
                        <a href="#!">Cordon Bleu</a>
                    </li>
                    <li>
                        <a href="#!">Vegan pancakes</a>
                    </li>
                    <li>
                        <a href="#!">Turkey stuffed sandwiches</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="hidden-md-up">
            <!--Fourth column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Find me on</h5>
                <ul>
                    <li>
                        <a href="#!">Facebook</a>
                    </li>
                    <li>
                        <a href="#!">Youtube</a>
                    </li>
                    <li>
                        <a href="#!">Instagram</a>
                    </li>
                    <li>
                        <a href="#!">Pinterest</a>
                    </li>
                </ul>
            </div>
            <!--/.Fourth column-->
        </div>
    </div>
    <!--/.Footer links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action">
        <h4>Material Design for Bootstrap</h4>
        <ul>
            <li>
                <h5>Get our UI KIT for free</h5>
            </li>
            <li>
                <a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-default waves-effect waves-light" rel="nofollow">Sign up!</a>
            </li>
            <li>
                <a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-primary waves-effect waves-light" rel="nofollow">Learn more</a>
            </li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="containter-fluid">
            © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
